<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>نتائج</title>
</head>

<body>
    <h1>أدخلت نوع ملف خاطئ</h1><br=1>
    <h1>الأنواع المسموحة:</h1><br=1>
    <h1>CSV, Excel</h1><br=1>
    <h1>أو أدخلت ملف لا يحتوي على عمود</h1>
    <h1>text</h1><br=1>
    <h1>أو أدخلت ملف فارغ</h1>
    <a href="{{url_for('upload')}}">العودة</a><br>
    <a href="{{url_for('logout')}}">تسجيل الخروج</a>
</body>

</html>